@import url('https://fonts.googleapis.com/css?family=Hind');

body {
	background-color: #FAF8F8;
	min-height: 100vh;
	font-family: 'Hind', sans-serif;
}
nav.navbar {
	background-color: #FAF8F8;
}
.logo {
	width: 300px;
	border-radius: 100%;
}
.pfp {
	width: 100px;
	border-radius: 9px;
}
.fas, .fab {
	font-size: 50px;
}